* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 10px;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

section div {
    padding: 75px;
    
}

section div:nth-child(4),
section div:nth-child(5),
section div:nth-child(6) {
    border-bottom: solid 1px black;
    border-top: solid 1px black;
}

section div:nth-child(1),
section div:nth-child(2),
section div:nth-child(4),
section div:nth-child(5),
section div:nth-child(7),
section div:nth-child(8) {
    border-right: solid 1px black;
}
